/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

*,
*::after,
*::before {
  /* herança forçada  = inherit */
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  color: #777;
  font-family: "Lato", sans-serif;
  /* font-size: 16px; */
  font-weight: 400;
  line-height: 1.7;
  padding: 3rem;
  box-sizing: border-box;
}

.header {
  background-image: linear-gradient(
    to right bottom,
    rgba(126, 213, 111, 0.8),
    rgba(40, 180, 133, 0.8)),
    url(../img/hero.jpg);
  background-position: top;
  background-size: cover;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  height: 95vh;
}

.logo-box {
  left: 4rem;
  position: absolute;
  top: 4rem;
}

.logo {
  height: 3.5rem;
}

/* Se quiser levar a animacao para outros lugares - quando passar o mouse por cima - e ter a animação

.logo:hover {
  animation: moveInRight 1s ease-out;
}

*/

.text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;

  /* para nao ter "tremor" na animacao precisa disso*/
  backface-visibility: hidden;
  margin-bottom: 6rem;
}

.heading-primary-main {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;

  /* funcoes de animação das letras */
  animation-name: moveInLeft;
  animation-duration: 1s;
  /* ease out - começa devagar e termina rapido*/
  /* ease in - começa rapido e termina devagar*/
  animation-timing-function: ease-out;

  /* outras funcoes de animacao interessantes*/
  /*
  animation-delay: 3s;   - entra com atraso a animação
  animation-iteration-count: 3; repete 3X a msm animacao
  */
}

.heading-primary-sub {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.75rem;

  /* Escrevendo de maneira reduzida a animacao*/
  animation: moveInRight 1s ease-out;
  /* ao inves de colocar 3 linhas
  animation: moveInRight;
  animation-duration: 1s;
  animation-timing-function: ease-out; */
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  80%{
    transform: translateX(1rem);
  }

  100%{
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  80%{
    transform: translateX(-1rem);
  }

  100%{
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100%{
    opacity: 1;
    transform: translate(0);
  }
}

.btn:link,
.btn:visited {
  display: inline-block;
  padding: 1.5rem 4rem;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem;
}

.btn:hover {
  transform: translateY(-3px);
  /* sombra do botao posicao, posicao, blurry(embaçado), cor*/
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
}

/* quando clica no botao - efeito que ele "abaixa" */
.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
  
}

.btn-white {
  background-color: white;
  color: #777;
}

/* Pseudo - Elemento  faz parecer um botao - coloca atras e anima - faz aquele quadrado animado quando passa por cima - Considerado um filho do botao*/

.btn::after {
  /* precisa especificar o content, se não, não aparece o pseudoElement */
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
}

.btn-white::after {
  background-color: white;
}

.btn:hover::after {
  /* faz escalar o tamanho para "o valor que vc quiser" a mais do tamanho original */
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn-animated {
  animation: moveInBottom .5s ease-out .75s;

  /* animacao é aplicada a 0 antes da animacao começar */
  animation-fill-mode: backwards;
}